*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    padding: 1rem;
}
ul{
    list-style-type: none;
    /* position: fixed; */
}
li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    overflow: hidden;
}
.navbar{
    display: flex;
}
.img{
    width: 100%;
}
.title{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
}
.subtitle{
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: gray

}
.content{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    width: 58%;
    margin-left: 24%;
    margin-top: 2rem;
}
.brand{
    letter-spacing: 0.5rem;
    text-size-adjust: 0.3rem;
}
.image1{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-left: 11rem;
}
.name{
    margin-top: -1.7rem;
    margin-right: -6.5rem;
    font-family: "Lato", sans-serif;
    
}
.content p{
    text-align: justify;
    line-height: 1.7rem;
}
.picimage1,.picimage2,.picimage3{
    width: 60%;
    border-radius: 0.2rem;
}
.midpart{
    background-color: black;
    height: 65rem;
    width: auto;
    margin-top: 18rem;
}
.midpart h3{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    padding-top: 3.5rem;
    letter-spacing: 0.6rem;
}
.midpart h4{
    color: rgb(122, 118, 118);
    font-family: "Lato", sans-serif;
    padding-top: 2rem;
}
.fst{
    background-color: white;
    margin-top: 5rem;
    width: 50rem;
    margin-left: 17rem;
}
.month{
    display: flex;
}
.month1{
    display: flex;
}
.month2{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
}
.inp1,.inp2{
    padding: 1rem;
}
input{
    background-color: tomato;
    font-size: 1rem;
    color: white;
    padding: 0.2rem 0.5rem;
    border: none;
}
.month p,.month1 p,.month2 p{
    padding: 1rem;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: gray;
}
.dot{
    border-radius: 50%;
    background-color: black;
    color: white;
    height: 25px;
    width: 30px;
    display: inline-block;
}
.dd{
    padding: 1rem;
}
.countryimage{
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
}
.imgcnt1,.imgcnt2,.imgcnt3{
    width: 16rem;
    height: 15rem;
}
.cls1{
    margin-left: 4rem;
}
.cls2{
    margin-left: -11rem;
}
.cls3{
    margin-left: -11rem;
}
.cls1,.cls2,.cls3{
    height: 37rem;
    width: 16rem;
    color: black;
    background-color: white;
}
.countryimage input{
    background-color: black;
    margin-top: 4rem;
    border: none;
    margin-left: -6rem;
    padding: 1rem;
}
.date{
    margin-top: 2rem;
    margin-left: -6rem;
}
.name1{
    color: black;
    margin-left: -9rem;
}
.name2{
    color: black;
    margin-left: -11rem;
}
.name3{
    color: black;
    margin-left: -8rem;
}
.paragraph{
    margin-top: 3rem;
    color: black;
}
header{
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    margin-top: 4rem;
    letter-spacing: 0.5rem;
}
.subheader{
    margin-top: 2rem;
    color: gray;
    font-family: "Lato", sans-serif;
}
.allinput input{
    border: rgb(12, 11, 11);
    color: gray;
    border: 2px solid rgb(100, 97, 97);
    background-color: white;
    margin-top: 4rem;
    padding: 1rem;
    column-gap: 1rem;
}
.message input{
    color: gray;
    padding: 1rem;
    border: 2px solid rgb(100, 97, 97);
    background-color: white;
    width: 28rem;
    row-gap: 1rem;
} 
.allinfo{
    display: flex;
    justify-content: space-around;
}
.allinput{
    display: flex;
    justify-content: space-around;
}
.imglogo{
    margin-top: 5rem;
}
.imglogo h4{
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
}
.send input{
    background-color: black;
    padding: 1rem;
    width: 3rem;
    margin-top: 1rem;
    margin-left: 65.5rem;
}
.imgallindia{
    margin-top: 5rem;
    width: auto;
    overflow: hidden;
}
.socialogo{
    display: flex;
    margin-top: 3.5rem;
    margin-left: 35rem;
    column-gap: 0.5rem;
}
.logo{
    width: 2rem;
}
.footer{
    margin-top: 1rem;
    color: gray;
    font-family: "Lato", sans-serif;
}



